<nav aria-label="breadcrumb">
    <ol class="breadcrumb ml-4">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/products">Products</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
    </ol>
</nav>

<div class="container">

    <h1 class="c-dark-gray font-weight-semi mb-4">Detalle del producto</h1>

    <div class="row mx-auto bg-white mx-auto mb-4">
        <div class="col-sm-6 mb-4">
            <img src="{{product.main_image}}" class="col-8 col-sm-4 rounded border" />
            <img src="{{product.image_2}}" class="col-6 col-sm-4 rounded border" />
            <div class="w-100"></div>
            <img src="{{product.image_3}}" class="col-6 col-sm-4 mt-2 rounded border" />
            <img src="{{product.image_4}}" class="col-6 col-sm-4 mt-2 rounded border" />
        </div>

        <div class="col-sm-6 py-2">
            <h2 class="font-weight-semi mb-4">{{product.title}}</h2>
            <h3 class="mb-4">  {{product.RSVP}} €</h3>
            <div>
                {{#each variants as |variant|}}
                <button type="button" class="btn-sizes btn btn-outline-primary p-2 mb-4">{{variant.sizes}}</button>
                {{/each}}
            </div>

            <div class="col-md-6 col-sm-12 py-2 text-left">
                <p class="description-text">{{{product.fashion_main_description}}}</p>
            </div>
        </div>
    </div>
</div>

